<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="rwcsim.utils.logging.RCPatternLayout">
            <param name="ConversionPattern" value="[%d{MMM dd HH:mm:ss.SSS}] %-5p - %m%n"/>
        </layout>
    </appender>

    <appender name="SERVER_LOG_FILE" class="com.fishlib.util.loggers.ProcessNameFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Append" value="true"/>
        <param name="ImmediateFlush" value="false"/>
        <param name="BufferedIO" value="true"/>
        <param name="BufferSize" value="8192"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <layout class="crwcsim.utils.logging.RCPatternLayout">
            <param name="ConversionPattern" value="[%d{MMM dd HH:mm:ss.SSS}] %-5p - %m%n"/>
        </layout>
    </appender>

    <appender name="SERVER_LOG_FILE_ASYNC" class="com.fishlib.util.loggers.WAsyncAppender">
        <appender-ref ref="SERVER_LOG_FILE"/>
    </appender>

    <appender name="LOG_FILE" class="org.apache.log4j.FileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="${workspace}/walleye.log"/>
        <param name="Append" value="false"/>
        <layout class="crwcsim.utils.logging.RCPatternLayout">
            <param name="ConversionPattern" value="[%d{MMM dd HH:mm:ss.SSS}] %-5p - %m%n"/>
        </layout>
    </appender>

    <appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
        <param name="SyslogHost" value="localhost"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="Facility" value="LOCAL1"/>
        <layout class="crwcsim.utils.logging.RCPatternLayout">
            <param name="ConversionPattern" value="[%d{MMM dd HH:mm:ss.SSS}] %-5p - %m%n"/>
        </layout>
    </appender>

    <appender name="SYSLOG_TCP" class="com.walleyetrading.common.util.TcpSyslogAppender">
        <param name="SyslogHost" value="localhost"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="Facility" value="LOCAL1"/>
        <layout class="crwcsim.utils.logging.RCPatternLayout">
            <param name="ConversionPattern" value="[%d{MMM dd HH:mm:ss.SSS}] %-5p - %m%n"/>
        </layout>
    </appender>

    <appender name="MAILER" class="com.fishlib.util.loggers.SimpleMailAppender">
        <param name="to" value="sim@walleyesoftware.com"/>
        <param name="Threshold" value="FATAL"/>
        <layout class="crwcsim.utils.logging.RCPatternLayout">
            <param name="ConversionPattern" value="[%d{MMM dd HH:mm:ss.SSS}] %-5p - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
